{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProductAttribute list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Attributename</th>
                <th>Attributevalue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('supplier_product_attribute_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.attributeName }}</td>
                <td>{{ entity.attributeValue|join(', ') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('supplier_product_attribute_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('supplier_product_attribute_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('supplier_product_attribute_new', { 'product': product.id }) }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
