{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <div>
        <ul>
            <li>
                <b>Id:</b>
                <span class="entity_attribute">{{ entity.id }}</span>
            </li>
            <li>
                <b>Name</b>
                 <span class="entity_attribute">{{ entity.name }} </span>
            </li>
            <li>
                <b>Mincost</b>
                 <span class="entity_attribute">{{ entity.minCost }} </span>
            </li>
            <li>
                <b>Maxcost</b>
                 <span class="entity_attribute">{{ entity.maxCost }} </span>
            </li>
            <li>
                <b>Supplierean</b>
                 <span class="entity_attribute">{{ entity.supplierEan }} </span>
            </li>
            <li>
                <b>Description</b>
                 <span class="entity_attribute">{{ entity.description }} </span>
            </li>
            <li>
                <b>Contents</b>
                 <span class="entity_attribute">{{ entity.contents }} </span>
            </li>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stock_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
    <table class="children_entities table table-striped table-bordered">
        <thead>
            <tr>
                {% for attribute in entity.attributes %}
                    <th>{{attribute.attributeName}}</th>
                {% endfor %}
                <th>In Stock</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for variation in entity.variations %}
                <tr>
                    {% for variationAttribute in variation.variationAttributes %}
                        <td> {{variationAttribute.attributeValue}} </td>
                    {% endfor %}
                    <td>{{variation.qtyStock}}</td>
                    <td> 
                        <button class="btn btn-warning" id="product_variation_inner_operations"> Internal Operations</button>
                        <button class="btn btn-info" id="product_variation_buy">Buy</button>
                        <button class="btn btn-success" id="product_variation_sell">Sell</button>
                        <button class="btn btn-default" id="product_variation_service">Send to service</button>
                        <button class="btn btn-danger" id="product_variation_service">Returned By Customer</button>
                        <button class="btn btn-primary" id="product_variation_rent">Rent</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <li>
        <a href="{{ path('stock_product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
