{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <div>
        <ul>
            <li>
                <b>Id:</b>
                <span class="entity_attribute">{{ entity.id }}</span>
            </li>
            <li>
                <b>Name</b>
                 <span class="entity_attribute">{{ entity.name }} </span>
            </li>
            <li>
                <b>Mincost</b>
                 <span class="entity_attribute">{{ entity.minCost }} </span>
            </li>
            <li>
                <b>Maxcost</b>
                 <span class="entity_attribute">{{ entity.maxCost }} </span>
            </li>
            <li>
                <b>Supplierean</b>
                 <span class="entity_attribute">{{ entity.supplierEan }} </span>
            </li>
            <li>
                <b>Description</b>
                 <span class="entity_attribute">{{ entity.description }} </span>
            </li>
            <li>
                <b>Contents</b>
                 <span class="entity_attribute">{{ entity.contents }} </span>
            </li>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stock_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
    <table class="children_entities table table-striped table-bordered">
        <thead>
            <tr>
                {% for attribute in entity.attributes %}
                    <th>{{attribute.attributeName}}</th>
                {% endfor %}
                <th>In Stock</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for variation in entity.variations %}
                <tr>
                    {% for variationAttribute in variation.variationAttributes %}
                        <td> {{variationAttribute.attributeValue}} </td>
                    {% endfor %}
                    <td class="cellstock"><div class="infoVariationStock">{{variation.qtyStock}}</div>
                        <div class="formVariationStock hiddenElement">
                            <form>
                                <input type="hidden" name="id" value="{{variation.id}}" />
                                <input type="text" name="qtyStock" value="{{variation.qtyStock}}" />
                                <button type="button" class="btn btn-primary stock_update_button">Update</button>
                                
                            </form>
                        </div>
                    </td>
                    <td> 
                        <button class="btn btn-warning btn-inner-ops" data-toggle="modal" data-target="#myModal" data-variation="{{variation.id}}"> Internal Operations</button>
                        <button class="btn btn-info" id="product_variation_buy">Buy</button>
                        <button class="btn btn-success" id="product_variation_sell">Sell</button>
                        <button class="btn btn-default" id="product_variation_service">Send to service</button>
                        <button class="btn btn-danger" id="product_variation_service">Returned By Customer</button>
                        <button class="btn btn-primary" id="product_variation_rent">Rent</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <li>
        <a href="{{ path('stock_product') }}">
            Back to the list
        </a>
    </li>
</ul>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
        <div class="modal-body" id="product_modal_body">
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block jqueryScript %}
    <script>   
    $(document).ready(function(){
        $('.cellstock').on("dblclick",function(){Product.onClickVariationTd(this)});
        $('.stock_update_button').on("click", function(){
            Product.updateStockItens($(this).parent());
            var cell = $(this).parent().parent().parent();
            divInfo = cell.children(".infoVariationStock")[0].innerHTML = data.qtyStock;
            cell.find(".formVariationStock").toggleClass("hiddenElement");
            cell.find(".infoVariationStock").toggleClass("hiddenElement");
        });
        $('.btn-inner-ops').on('click', function () {
            
            Product.getInternalOperationsForm($(this).attr('data-variation'));
            $("#myModal").modal('toogle');
        })
    });
    </script>
{% endblock %}
